:root {
    --pink-primary: #ff85a2;
    --pink-light: #fce4ec;
    --pink-dark: #f06292;
}

body {
    background-color: #fff5f8;
    font-family: 'Poppins', sans-serif;
}

.bg-romance { background-color: var(--pink-primary) !important; }
.text-pink { color: var(--pink-dark); font-weight: bold; }
.bg-cute-pink { background-color: var(--pink-primary); }

.card {
    border: 2px solid var(--pink-light) !important;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.03);
    border-color: var(--pink-primary) !important;
}

.btn-danger {
    background-color: var(--pink-dark);
    border: none;
}

.clickable-card {
    cursor: pointer;
    transition: all 0.3s ease;
}

.clickable-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(255, 133, 162, 0.3) !important;
    border-color: #ff85a2 !important;
}


.btn-pink-outline {
    color: #ff85a2;
    border: 1px solid #ff85a2;
    border-radius: 20px;
    background: white;
}

.btn-pink-outline:hover {
    background: #ff85a2;
    color: white;
}
