:root {
    --pink-primary: #ff85a2;
    --pink-light: #fce4ec;
    --pink-dark: #f06292;
}

body {
    background-color: #fff5f8;
    font-family: 'Poppins', sans-serif;
}

.bg-romance { background-color: var(--pink-primary) !important; }
.text-pink { color: var(--pink-dark); font-weight: bold; }
.bg-cute-pink { background-color: var(--pink-primary); }

.card {
    border: 2px solid var(--pink-light) !important;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.03);
    border-color: var(--pink-primary) !important;
}

.btn-danger {
    background-color: var(--pink-dark);
    border: none;
}
